export PREFIX="anhdle14"

export TAILSCALE_API_KEY=""
export TAILSCALE_TAILNET="anhdle14.github"

export GOOGLE_PROJECT=""
export GOOGLE_REGION=""
export GOOGLE_ZONE=""
export GOOGLE_BILLING_ACCOUNT_ID=""

GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/infrastructure/${PREFIX}-terraform.json"
export GOOGLE_APPLICATION_CREDENTIALS
