# code: language=yaml insertSpaces=true tabSize=2
apiVersion: v1
kind: Secret
metadata:
  name: pomerium-idp
  namespace: istio-system
  labels:
    app.kubernetes.io/part-of: argocd
    app.kubernetes.io/name: pomerium
    app.kubernetes.io/instance: pomerium
type: Opaque
stringData:
  # Please use this link to search for your idp configuration: https://master.docs.pomerium.io/docs/identity-providers/
  IDP_PROVIDER: ""
  IDP_CLIENT_ID: ""
  IDP_CLIENT_SECRET: ""
  IDP_SERVICE_ACCOUNT: "" # `< idp_service_account.secret.tmpl | base64`