apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default

resources:
  - base/httpbin.deploy.yaml
  - base/httpbin.sa.yaml
  - base/httpbin.svc.yaml
  # NOTE: This use the default VS
  # - base/httpbin.istio.yaml

  # NOTE: This use Pomerium Proxy
  - base/httpbin.pomerium.yaml