# code: language=yaml insertSpaces=true tabSize=2
---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  annotations:
    sealedsecrets.bitnami.com/managed: "true"
  labels:
    # These labels are here to fix OutOfSyncs.
    # This should be updated if kustomization.yaml upgrade to new Argo CD version.
    app.kubernetes.io/part-of: argocd

    argocd.argoproj.io/instance: argo-cd
    app.kubernetes.io/instance: argo-cd
    app.kubernetes.io/name: argocd-secret
  name: argocd-secret
  namespace: argo-cd
data:
  server.secretkey: <SECRET_KEY>
  oidc.auth0.clientID: <CLIENT_ID>
  oidc.auth0.clientSecret: <CLIENT_SECRET>
